<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Accueil  Administrateur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Gestion des utilisateurs
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" routerLink="/gestion-utilisateurs">
        Voir utilisateurs
      </ion-button>
    </ion-card-content>
  </ion-card>
    <ion-card>
    <ion-card-header>
      <ion-card-title>
        Gestion des cours
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" routerLink="/gestion-cours">
        Voir Cours
      </ion-button>
    </ion-card-content>
  </ion-card>
    <ion-card>
    <ion-card-header>
      <ion-card-title>
        Annonces
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" routerLink="/annonces">
        Créer une annonce
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
