<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>Accueil Professeur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Mes Cours
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" routerLink="/mes-cours">
        Voir  et Gérer les Cours
      </ion-button>
    </ion-card-content>
  </ion-card>
    <ion-card>
    <ion-card-header>
      <ion-card-title>
        Devoirs à Corriger
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" routerLink="/devoirs-a-corriger">
        Voir les Devoirs
      </ion-button>
    </ion-card-content>
  </ion-card>
    <ion-card>
    <ion-card-header>
      <ion-card-title>
        Annonces
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" routerLink="/annonces">
        Voir annonces
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
